In [1]:
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df.head()

                         day
0 2020-07-11 21:28:40.333104
1 2020-07-10 21:28:40.333104
2 2020-07-09 21:28:40.333104
3 2020-07-08 21:28:40.333104
4 2020-07-07 21:28:40.333104

In [3]:
df.shape

(20, 1)

In [4]:
# extract the week day name

df['day_of_week'] = df['day'].dt.weekday_name
df.head()

                         day day_of_week
0 2020-07-11 21:28:40.333104    Saturday
1 2020-07-10 21:28:40.333104      Friday
2 2020-07-09 21:28:40.333104    Thursday
3 2020-07-08 21:28:40.333104   Wednesday
4 2020-07-07 21:28:40.333104     Tuesday

In [5]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.replace(weekday_map.keys(),weekday_map.values())
df.head(20)

                          day day_of_week  day_ordinal
0  2020-07-11 21:28:40.333104    Saturday            6
1  2020-07-10 21:28:40.333104      Friday            5
2  2020-07-09 21:28:40.333104    Thursday            4
3  2020-07-08 21:28:40.333104   Wednesday            3
4  2020-07-07 21:28:40.333104     Tuesday            2
5  2020-07-06 21:28:40.333104      Monday            1
6  2020-07-05 21:28:40.333104      Sunday            7
7  2020-07-04 21:28:40.333104    Saturday            6
8  2020-07-03 21:28:40.333104      Friday            5
9  2020-07-02 21:28:40.333104    Thursday            4
10 2020-07-01 21:28:40.333104   Wednesday            3
11 2020-06-30 21:28:40.333104     Tuesday            2
12 2020-06-29 21:28:40.333104      Monday            1
13 2020-06-28 21:28:40.333104      Sunday            7
14 2020-06-27 21:28:40.333104    Saturday            6
15 2020-06-26 21:28:40.333104      Friday            5
16 2020-06-25 21:28:40.333104    Thursday            4
17 2020-06-24 21:28:40.333104   Wednesday            3
18 2020-06-23 21:28:40.333104     Tuesday            2
19 2020-06-22 21:28:40.333104      Monday            1